@use '@angular/material' as mat;

@include mat.core();
@include mat.strong-focus-indicators();

// Define primary theme
// --------------------
// see https://m1.material.io/style/color.html#color-color-palette for color palettes
$co-primary: mat.define-palette(mat.$indigo-palette, 500);
$co-accent: mat.define-palette(mat.$indigo-palette, 100);
$co-warn: mat.define-palette(mat.$red-palette);

// mat.define-typography-level params ($font-size, $line-height, $font-weight, $font-family, $letter-spacing)
$co-typography: mat.define-typography-config(
    $headline-1: mat.define-typography-level(96px, 196px, 300, 'Roboto', 0em),
    $headline-2: mat.define-typography-level(60px, 60px, 400, 'Roboto', 0em),
    $headline-3: mat.define-typography-level(48px, 48px, 400, 'Roboto', 0em),
    $headline-4: mat.define-typography-level(34px, 34px, 400, 'Roboto', 0em),
    $headline-5: mat.define-typography-level(24px, 24px, 400, 'Roboto', 0em), // h1
    $headline-6: mat.define-typography-level(20px, 20px, 400, 'Roboto', 0em), // h2
    $body-1: mat.define-typography-level(12px, 12px, 400, 'Roboto', 0em),
    $body-2: mat.define-typography-level(12px, 12px, 500, 'Roboto', 0em), // body
    $subtitle-1: mat.define-typography-level(16px, 16px, 400, 'Roboto', 0em), // h3
    $subtitle-2: mat.define-typography-level(14px, 14px, 400, 'Roboto', 0em), // h4
    $button: mat.define-typography-level(12px, 14px, 500, 'Roboto', 0em),
    $overline: mat.define-typography-level(10px, 10px, 500, 'Roboto', 0em),
    $caption: mat.define-typography-level(12px, 12px, 400, 'Roboto', 0em));
    
@include mat.typography-hierarchy($co-typography);

$co-theme: mat.define-light-theme((color: (primary: $co-primary,
                accent: $co-accent,
                warn: $co-warn ),
            typography: $co-typography,
            density: -1)); // -1 condensed controls, 0 for normal

@include mat.all-component-themes($co-theme);
@include mat.strong-focus-indicators($co-theme);